body {
  margin: 0;
  height: 100vh;
  background-color: #b465f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 220px;
  height: 270px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  font-family: cursive;
  text-align: center;
}

.card .calender .month {
  /* display: flex;
    justify-content: center;
    height: 270px;
    align-items: center; */
  background-color: #ff0505;
  margin: 0;
  padding: 10px;
  color: white;
  font-size: 25px;
}

.card .calender .day {
  color: darkgray;
  font-size: 15px;
}

.card .calender .date {
  color: rgb(23, 22, 22);
  font-size: 80px;
  font-weight: bold;
  margin: 0;
}

.card .calender .year {
  color: darkgray;
  font-weight: 500;
}
